<h2>Enter your text below:</h2>

<%= form_for @sample do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>

<% if @response %>
  <br>
  <h1>Entities</h1>
  <% @gendered_entities.each do |entity| %>
    <ul>
      <li>Text: <%= entity['text'] %></li>
      <li>Sentiment score: <%= entity['sentiment']['score'] %></li>
      <li>Sentiment type: <%= entity['sentiment']['type'] %></li>
      <li>Gender: <%= entity['gender'] %></li>
    </ul>
  <% end %>

  <% @averages.each do |name, average| %>
    <h1><%= "#{name}: #{average}" %></h1>
  <% end %>

<% end %>
