<h2>Enter your text below:</h2>

<%= form_for :sample, {url: analyze_path, remote: true, html: { class: "content-input" } } do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>

<%= form_for :tweet, {url: analyze_path, remote: true, html: { class: "content-input" } } do |f| %>
  <%= f.label "Enter a twitter handle"  %>
  <%= f.text_field :content %>
  <%= f.submit "Submit" %>
<% end %>

<div id="output">
</div>
