<h2>Enter your text below:</h2>

<%= form_for :sample, {url: analyze_path, remote: true, html: { id: "content-input" } } do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>

Enter a twitter handle:
<form action="/samples/get_username" method="GET">
  <label>Username:</label>
  <input type="text" name="username">
  <input type="submit">
</form>
<div id="output">

<% if @keywords %>
  <p><%= markup_keywords(@sample).html_safe %></p>
  <br>


  <% @averages.each do |name, average| %>
    <h3><%= "#{name}: #{average}" %></h3>
  <% end %>

  <%= link_to "Reset", "", class: "button" %>

  <% if current_user %>
    <%= link_to "Save this sample", user_path(current_user), method: :get %>
    <%= link_to "Discard this sample", sample_path(@sample), method: :delete %>
  <% end %>

<% end %>

</div>
