<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<h2 class="new-sample-title">Make Your Analysis</h2>

<div id="sample-form-container">
	<div id="toggle-form">
		<ul>
			<li><a href="#text_form">Enter Text</a></li>
			<li><a href="#twitter_form">Scrape Twitter</a></li>
			<li><a href="#drop_form">Upload a File</a></li>
			<li><a href="#url_form">Provide Url</a></li>
			<li><a href="#image_form">Image OCR</a></li>
			<span title="This lets you choose what format of text you would like to analyze." class="tool-popup-icon">?</span>
		</ul>
	</div>

	<div id="text_form">
		<%= form_for :sample, {url: analyze_path, remote: true, html: { class: "content-input text-box" } } do |f| %>
		<%= f.text_area :content %>
		<br>
		<%= f.submit "Enter your text!" %>
		<% end %>
	</div>

	<div id="twitter_form">
		<%= form_for :tweet, {url: analyze_path, remote: true, html: { class: "content-input text-box", autocomplete: "off" } } do |f| %>
		<%= f.text_field :content %>
		<br>
		<%= f.submit "Enter a twitter handle!", :class => 'twitter-submit-button' %>
		<% end %>
	</div>

	<div id="url_form">
		<%= form_for :url, {url: analyze_path, remote: true, html: { class: "content-input text-box" } } do |f| %>
		<%= f.text_field :url %>
		<br>
		<%= f.submit "Enter your url!", :class => 'twitter-submit-button' %>
		<% end %>
	</div>

	<div id="drop_form">
		<%= form_tag({action: :analyze}, {multipart: true, class: "dropzone content-input", id:"drop-form"}) do %>
		<% end %>
	</div>

	<div id="image_form">
		<%= form_for :image, {url: analyze_path, multipart: true, authenticity_token: true, html: { id: "image_submit" } } do |f| %>
		  <%= f.label "Upload an image"  %>
		  <%= f.file_field :filename %>
		  <%= f.submit "Submit", id: "submit_image" %>
		<% end %>
	</div>
</div>



<div id="output">
	<div id="averages"></div>
	<div id="highlighted-text"></div>
	<div id="number-line"></div>
</div>
