<h2>Enter your text below:</h2>

<%= form_for @sample do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>

<% if @keywords %>
  <br>
  <h1>Keywords</h1>
  <% @keywords.each do |keyword| %>
    <ul>
      <li>Text: <%= keyword.text %></li>
      <li>Sentiment score: <%= keyword.sentiment_score %></li>
      <li>Sentiment type: <%= keyword.sentiment_type %></li>
      <li>Gender: <%= keyword.gender %></li>
    </ul>
  <% end %>

  <% @averages.each do |name, average| %>
    <h3><%= "#{name}: #{average}" %></h3>
  <% end %>

<% end %>
