<h3>Query Results</h3> 
<hr>
<div class="frequecy-container">
	<h3>Word Frequency <span class="tool-popup tool-popup-icon" title="This shows the frequency of the key in all of your samples">?</span></h3>
	<table class="frequency-table">
		<tr>
			<th><strong>Key Word</strong></th>
			<th><strong>Frequency</strong></th>
		</tr>

		<% @frequency.each do |key,val| %>
		<tr>
			<td class="key"><%= key %></td>
			<td><%= val %></td>
		</tr>
		<% end %>
	</table>
</div>

<div class="samples-container">
	<h3>Samples: <span class="tool-popup tool-popup-icon" title="Samples display their marked-up content along with their sentiment keys, values, and corresponding sample content">?</span></h3>
	<ul>
		<% @sample_matches.each do |sample| %>
	<li>
			<h3><%= sample.name %></h3>
			<p class="sample-content"><%= sample.content %></p>
			
			<table class="keyword-table">
				<tr>
					<th><strong>Key</strong></th>
					<th><strong>Score</strong></th>
					<th><strong>Type</strong></th>
					<th><strong>Gender</strong></th>
				</tr>
			<% @key_matches.each do |s| %>
			<% if s.sample_id == sample.id %>

				<tr>
					<td><%= s.text %></td>
					<td><%= s.sentiment_score %></td>
					<td><%= s.sentiment_type %></td>
					<td><%= s.gender %></td>
				</tr>
			<% end %>
			<% end %>
			</table>
			<hr>
			<% end %>
		</li>
	</ul>
</div>
